<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1 class="product_name"><%= @product.name %></h1>
    </div>
    <div class="col-xs-12 col-md-6">
      <% cache @product do %>
      <%= image_tag(@product.image_url, class: "img-responsive product_image product_show_image", data_zoom_image: @product.image_url) %>

      <div class="col-xs-12">
        <p class="product_description"><%= @product.description %></p>
      </div>
    
    
      <% end %>
      <div class="col-xs-12 stripe_payment">
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= form_tag "/orders" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      </div>
     <div class="col-xs-12">
        <h4 class="field_label">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h4>
      </div>
      <div class="col-xs-12 new_comment">
        <%= render "new_comment" %>
      </div>
      
    </div> 
    <div class="col-xs-12 col-md-4">    
      <%= render "comments" %>
     
    </div>

    


    <div class="col-xs-12 form_navigation show_navigation">
      <%= link_to 'Edit', edit_product_path(@product) %>
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>
</div>
