<!DOCTYPE html>
<html>
<head>
  <title>Alto</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  

<%= link_to "Home", root_path%>
<!-- generates the HTML tag: -->


<%= link_to "About", static_pages_about_path%>
<!-- generates the HTML tag: -->


<%= link_to "Bikes", products_path %>

<%= link_to "Contact", static_pages_contact_path %>
<!-- generates the HTML tag: -->


</nav>

<% if notice %>
   <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<% if alert %>
   <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>

<ul class="nav pull-right" id="log">
    <li> 
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
      <% end %>
    </li>
  </ul>


  <%= form_tag("/products", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<%= yield %>

<footer>
  &copy; 2015 Bike Berlin

</footer>

</body>
</html>
